<h1>{{ object.headline }}</h1>
<p>{{ object.content }}</p>
<p>Reporter: {{ object.reporter }}</p>
<p>Published: {{ object.pub_date|date }}</p>
<p>Date: {{ now|date }}</p>

    {% for event in last_activity %}
    <li class="list-group-item ">

        <p class="list-group-item-text pull-right">
        {# Verb #}
        <span class="glyphicon
            {% if event.verb == 'added' %}
                glyphicon-plus
            {% elif event.verb == 'created' %}
                glyphicon-asterisk
            {% elif event.verb == 'edited' %}
                glyphicon-pencil
            {% elif event.verb == 'left' %}
                glyphicon-log-out
            {% elif event.verb == 'joined' %}
                glyphicon-log-in
            {% elif event.verb == 'promoted' %}
                glyphicon-sunglasses
            {% endif %}
        "></span>

        {# Action object #}
        {% if event.action_object %}
            {% if event.action_object.get_absolute_url %}
                <a href="{{ event.action_object.get_absolute_url }}">{{ event.action_object }}</a>
            {% else %}
                {{ event.action_object }}
            {% endif %}
        {% endif %}

        {# Target #}
{#        {{ event.target }}#}

        {#  Time #}
        {{ event.timestamp|timesince }} {% trans "ago" %}
        </p>

        {# Actor #}
        <h4 class="list-group-item-heading">
            {{ event.actor }}
        </h4>
    </li>
    {% endfor %}
    </ul>
{% endblock %}