{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title%}Inventario{% endblock %}

{% block content %}
<table class="table table-bordered" action="." method="post">{% csrf_token %}
    <thead>
        <th>#</th>
        <th>Nombre Inventario</th>
        <th>Numero serie</th>
        <th>Nombre Personal</th>
        <th>Descripcion</th>
        <th>Estado Activo</th>
        <th>Acciones</th>
    </thead>
    <tbody>

    {% for inventario in object_list %}
    <tr>
        <td> {{ inventario.id }}</td>
        <td> {{ inventario.nombre }} </td>
        <td> {{ inventario.numeroserie }} </td>
        <td> {{ inventario.personal.nombre }} </td>
        <td> {{ inventario.descripcion }} </td>
        <td> {{ inventario.estadoactivo }} </td>

        <td>
            <a class="btn btn-primary" href="{% url 'gestion:inventario_form' pk=inventario.id%}">Editar</a>
            <a class="btn btn-danger" href="{% url 'gestion:inventario_delete' pk=inventario.id%}">Eliminar</a>
        </td>

    </tr>

    {% endfor %}

    </tbody>
</table>

{% endblock %}