{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title%}Inventario{% endblock %}

{% block content %}
<table class="table table-bordered" action="." method="post">{% csrf_token %}
    <thead>
        <th>#</th>
        <th>Nombre Inventario</th>
        <th>Numero serie</th>
        <th>Nombre Personal</th>
        <th>Descripcion</th>
    </thead>
    <tbody>
    {% for inventario in object_list %}
    <tr>
        <td> {{ inventario.id }}</td>
        <td> {{ inventario.nombre }} </td>
        <td> {{ inventario.numeroserie }} </td>
        <td> {{ inventario.personal.nombre }} </td>
        <td> {{ inventario.descripcion }} </td>

    </tr>

    {% endfor %}
    </table>

{% endblock %}