{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block head_title%}Inventario de Personal{% endblock %}

{% block content %}
<table class="table table-bordered" action="." method="post">{% csrf_token %}
    <thead>
        <tr>
            <th>Apellido Personal</th>
            <th>Nombre Inventario</th>
            <th>Numero serie</th>
        </tr>
    </thead>
    <tbody>

        {% for personal in object_list %}
        {% for inventario in personal.inventario_set.all %}
        <tr>
            <td>{{ personal.apellido }}</td>
            <td>{{ inventario.nombre }}</td>
            <td>{{ inventario.numeroserie }}</td>

        {% empty %}
        <tr>
            <td>{{ personal.apellido }}</td>
            <td>¡El personal no tiene inventario !</td>

        </tr>
        {% endfor %}
        {% endfor %}

    </tbody>
</table>
{% endblock %}

