{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title%}PERSONAL{% endblock %}

{% block content %}
<table class="table table-bordered" action="." method="post">{% csrf_token %}
    <thead>
        <th>#</th>
        <th>Dni</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Fecha de Nac</th>
        <th>Fecha de Registro</th>
        <th>Email</th>
        <th>Estado Activo</th>
        <th>Inventario</th>
        <th>Acciones</th>
    </thead>
    <tbody>
    {% for personal in object_list %}
    <tr>
        <td> {{ personal.id }}</td>
        <td> {{ personal.dni }}</td>
        <td> {{ personal.nombre }} </td>
        <td> {{ personal.apellido }}</td>
        <td> {{ personal.fecha_nacimiento|date:"Y-M-D" }} </td>
        <td> {{ personal.fecha_registro|date:"Y-M-D" }} </td>
        <td> {{ personal.email }} </td>
        <td> {{ personal.estadoactivo }} </td>
        <td>
             <a class="btn btn-primary">Ver</a>
        </td>
        <td>
            <a class="btn btn-primary" href="{% url 'gestion:personal_form' pk=personal.id%}">Editar</a>
            <a class="btn btn-danger" href="{% url 'gestion:personal_delete' pk=personal.id%}">Eliminar</a>
        </td>

    </tr>
    </tbody>

    {% endfor %}
    </table>

{% endblock %}