{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block head_title%}Inventario de Personal{% endblock %}

{% block content %}
<h2>Nombre   : {{ personal.nombre }}</h2>
<h2>Apellido : {{ personal.apellido }}</h2>
<hr>
<table class="table table-bordered" action="." method="post">{% csrf_token %}
    <thead>
        <tr>
            <th>Nombre Inventario</th>
            <th>Numero serie</th>
        </tr>
    </thead>
    <tbody>
        {% for item in inventario%}
        <tr>
            <td>{{ item.nombre }}</td>
            <td>{{ item.numeroserie }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>
<a class="btn btn-secondary btn-lg" href="../../../gestion/personal/" role="button">Volver al Listado</a>

{% endblock %}
