{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block head_title%}Personal {% endblock %}

{% block content %}
<h2>Listado Personal</h2>
<hr>

<form class="form-inline " method="GET" action="{% url 'gestion:search'%}">
  <input class="form-control form-control-sm mr-3 w-75" name="q" value="{{request.GET.q}}" type="text" placeholder="Search" aria-label="Search">
  <i class="fas fa-search" aria-hidden="true"></i>
</form>

<br>
<table class="table table-bordered" action="." method="post">{% csrf_token %}
    <thead>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Inventario</th>
        <th>Acciones</th>
    </thead>
    <tbody>
    {% for personal in object_list %}
    <tr>
        <td> {{ personal.id }} </td>
        <td> {{ personal.nombre }} </td>
        <td> {{ personal.apellido }}</td>
        <td> {{ personal.email }} </td>
        <td>
            <a class="btn btn-primary" href="{% url 'gestion:inv_personal' personal_id=personal.id%}" >Ver</a>

        </td>
        <td>
            <a class="btn btn-primary" href="{% url 'gestion:personal_form' pk=personal.id%}">Editar</a>
            <a class="btn btn-danger" href="{% url 'gestion:personal_delete' pk=personal.id%}">Eliminar</a>
        </td>

    </tr>
    </tbody>
    {% endfor %}

</table>
{% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
    <li>
        <span><a href="?page={{ page_obj.previous_page_number }}&q={{ request.GET.q}}">Anterior  </a></span>
    </li>
{% endif %}
    <li class="">
        <span>Pagina {{ page_obj.number }}  de  {{ page_obj.paginator.num_pages }} </span>
    </li>
{% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}&q={{ request.GET.q}}">  Siguiente</a></span>
    </li>
{% endif %}
</ul>
{% endif %}
{% endblock %}