{% extends "base/base.html" %}
{% load crispy_forms_tags %}

{% block head_title%}PERSONAL{% endblock %}

{% block content %}
<table class="table table-bordered" action="." method="post">{% csrf_token %}
    <thead>
        <th>#</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Inventario</th>
        <th>Acciones</th>
    </thead>
    <tbody>
    {% for personal in object_list %}
    <tr>
        <td> {{ personal.id }} </td>
        <td> {{ personal.nombre }} </td>
        <td> {{ personal.apellido }}</td>
        <td> {{ personal.email }} </td>
        <td>
            <a class="btn btn-primary" href="{% url 'gestion:inv_personal' personal_id=personal.id%}">Ver</a>
        </td>
        <td>
            <a class="btn btn-primary" href="{% url 'gestion:personal_form' pk=personal.id%}">Editar</a>
            <a class="btn btn-danger" href="{% url 'gestion:personal_delete' pk=personal.id%}">Eliminar</a>
        </td>

    </tr>
    </tbody>
    {% endfor %}

</table>
{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}